In [ ]:
Name = "Jay"
Surname = "Kolhe"
Name+Surname
a=2.3
print(a)
print(int(a))
b=312
print(b)
print(float(b))
c=35
print(c)
print(a+b)
print(a,b)

2.3
2
312
312.0
35
314.3
2.3 312

In [ ]:
Name="Jay Kolhe"
print(Name)
Age=22
print(Age)
Class="T.Y.B.Sc"
print(Class)
College="SPC"
print(College)
"My Name is {} & I'm {} years old".format(Name,Age)

Jay Kolhe
22
T.Y.B.Sc
SPC

"My Name is Jay Kolhe & I'm 22 years old"

In [ ]:
Quantity= 1000
Item= "cheese"
Price= 1
Country="Indian"
myorder= "I want {a} pieces of {b} for {c} Rupees. Rupees is a {d} currency"
print(myorder.format(a=Quantity,b=Item,c=Price,d=Country))

I want 1000 pieces of cheese for 1 Rupees. Rupees is a Indian currency